.window {
    width: 100%;
    position: absolute;
}

.array-bar-container {
    position: relative;
    margin-top: 10%;
}

.array-bar {
    width: 5px;
    background-color: blue;
    display: inline-block;
    margin: 0 1px;
}

.sort-buttons {
    height: 40px;
    background-color: rgb(24, 24, 24); 
    display: flexbox;
    position: relative;
}

button {
    position: relative;
    margin: 0 4%;
    background-color: transparent;
    color: aliceblue;
    border-color: transparent;
    height: 100%;
    border-radius: 3px;
}

button:hover {
    background-color: rgb(51, 51, 51);
}
