* {
    font-size: 16px;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    font-family: 'Courier New', Courier, monospace;
}

.window {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #000;
}
.array-bar-container {
    position: relative;
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 60%;
}

.array-bar {
    width: 5px;
    background-color: rgb(255, 196, 0);
    display: inline-block;
    margin: 0 1px;
}

header {
    height: 3.125rem;
    width: 100%;
    background-color: rgb(24, 24, 24) ;
}

nav {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.open-menu-btn {
    height: 3.125rem;
    width: 3.125rem;
    background-color: transparent;
    outline: none;
    border: none;
    color: rgb(255, 196, 0);
}

.open-menu-btn:hover {
    background-color: rgb(255, 196, 0);
    color: rgb(24, 24, 24);
}

.app-name {
    padding: 10px;
    color: rgb(255, 196, 0);
    font-weight: 100;
    font-stretch: condensed;
}

.sliding-menu-bar {
    height: 100%;
    width: 20%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(47, 47, 47);
    z-index: 1000;

    /* transition: 1s;
    transform: translateX(0vh); */
}

.close-menu-btn {
    position: absolute;
    top: 0;
    left: 0;
    height: 3.125rem;
    width: 3.125rem;
    background-color: transparent;
    outline: none;
    border: none;
    color: rgb(255, 196, 0);
    transition: 10s;
}

.close-menu-btn:hover {
    background-color: rgb(24, 24, 24);
    color: rgb(255, 196, 0);
}

.sort-options {
    padding-top: 3.125rem;
    display: flexbox;
    height: max-content;
    width: 100%;
}

input[type="radio"] {
    display: none;
}

input[type="radio"] + label {
    position: relative;
    background-color: transparent;
    color: rgb(255, 196, 0);
    border: none;
    height: 100%;
    border-radius: 3px;
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
}

input[type="radio"]:checked + label {
    background-color: rgb(255, 196, 0);
    color: rgb(24, 24, 24);
}

input[type="radio"] + label:hover {
    background-color: rgb(255, 196, 0);
    color: rgb(24, 24, 24);
}

.selected-sort-display {
    color: rgb(255, 196, 0);
}


@media (max-width: 600px) {
    * {
        font-size:large;
    }
    .sliding-menu-bar {
        width: 55%;
    }
}


/* 
.menu-icon {
    visibility: hidden;
}

.nav-bar {
    height: 40px;
    background-color: rgb(24, 24, 24); 
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 10px;
}

.sort-options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}



.action-buttons {
    height: 40px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.generate-new-bars-btn {
    position: relative;
    margin: 0 4%;
    background-color: transparent;
    color: rgb(255, 196, 0);
    border: none;
    height: 100%;
    min-width: 7%;
    border-radius: 3px;
    cursor: pointer;
}

.generate-new-bars-btn:hover {
    background-color: rgb(255, 196, 0);
    color: rgb(24, 24, 24);
}

.sort-btn {
    position: relative;
    margin: 0 4%;
    background-color: transparent;
    color: rgb(255, 196, 0);
    border: none;
    height: 100%;
    min-width: 7%;
    border-radius: 3px;
    cursor: pointer;
}

.sort-n:hover {
    background-color: rgb(255, 196, 0);
    color: rgb(24, 24, 24);
}

.action-buttons button:disabled {
    background-color: rgb(112, 112, 112); 
    color: rgb(138, 138, 138); 
    cursor: not-allowed;
}

@media (max-width: 600px) {

    .nav-bar {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 70%;
        background-color: transparent;
        z-index: 999;
    }

    .menu-icon {
        visibility: visible;
        position: fixed;
        top: 20px;
        left: 20px;
        background-color: transparent;
        border: none;
        outline: none;
        color: rgb(255, 196, 0);
        size: 20vh;
    }

    .sort-options {
        height: 100%;
        width: 100%;
        background-color: rgb(23, 23, 23);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: 1s;
        z-index: 1000;
    }

    .sort-options {
        width: 100%;
        height: 20%;
    }
} */
